<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ">

    <extensions>
        <add assembly="NLog.Extensions.Logging"/>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="logfile" fileName="./logs/logfile.log"
                layout="${longdate}|PID:${processid}|TID:${threadid}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${aspnet-TraceIdentifier}|${message} ${exception:format=tostring}"/>
        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|PID:${processid}|TID:${threadid}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${activityid}|${message} ${exception:format=tostring}"/>
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Off" final="true"/>
        <logger name="Microsoft.AspNetCore.*" minlevel="Off" final="true"/>
        <logger name="Microsoft.Hosting.*" minlevel="Off" final="true"/>
        <logger name="*" minlevel="Debug" writeTo="logfile, logconsole"/>
    </rules>
</nlog>
